body {
    display: flex;
    justify-content: center;
    align-self: center;
}

#title {
    font-size: 3rem;
    text-align: center;
}

#score {
    font-size: 6.5rem;
    position: relative;
    top: 0;
}

#game {
    position: relative;
    width: 75vw;
    height: 70vh;

    background-image: url("assets/logo.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: fill;

    border: 0.1rem solid black;
}

#bird {
    position: relative;
    left: 5rem;
    height: 10vh;
    background-color: pink;

}

.wall{
    background-color: hotpink;
    position: absolute;
} 