body {
    display: flex;
    justify-content: center;
    align-self: center;
}

#title {
    font-size: 3rem;
    text-align: center;
}

#gamescreen {
    width: 75vw;
    height: 70vh;
    background-color: hotpink;
    border: 0.1rem solid black;

}

#bird {
    position: relative;
    left: 5rem;
    height: 15%;
    background-color: pink;
}